<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Add New Flavour</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id= "newFlavour"class="example-form" >
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Flavour Id"
                     [(ngModel)]="flavour_id"
                     name="flavour_id"
                     required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Flavour Name"
                    [(ngModel)]="flavour_name"
                    name="flavour_name"
                    required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Price"
                    [(ngModel)]="price"
                    name="price"
                    required>
            </mat-form-field>
          </td>
      </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            (click)="addFlavour()">Add Flavour</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button
    color="primary"
            (click)="cancelSelect()">Cancel</button>
  </mat-card-actions>
</mat-card>
